.dashboard-container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.line{
    margin : 10px;
}
.MuiTableCell{
    text-align: "Center";
    font-weight: "bold";
     font-size:"large";
}